body {
    height: 100%;
    background-image: url("https://images.pexels.com/photos/209652/pexels-photo-209652.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}